<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.

  The following are the allowed log levels (in descending order):
        Off
        Fatal
        Error
        Warn
        Info
        Debug
        Trace
   -->
  <targets async="true">
    <!-- add your targets here -->

    <target xsi:type="File" name="dclogfile" fileName="${specialfolder:folder=CommonApplicationData}/DCLasersystem/DCMarker/Logs/DCMark_${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} | ${exception:format=ToString}" encoding="Unicode"  />

    <target xsi:type="File" name="adamFile" fileName="${specialfolder:folder=CommonApplicationData}/DCLasersystem/DCMarker/Logs/Adam_${shortdate}.log"
            layout="${longdate} | ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="dclogger" minlevel="Trace" writeTo="dclogfile" />
    <logger name="adamlogger" minlevel="Info" writeTo="adamFile" />
  </rules>
</nlog>